* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

:root {
    --background: #121212;
    --background-darker: #141414;
    --background-lighter: #161616;
    --shadow: rgba(0, 0, 0, 0.764);
    --yellow: #FFAA00;
    --red: #FF5555;
    --blue: #5555FF;
    --green: #55AA55;
    --disabled: #ff5555;
}

body {
    line-height: 1;
    background-color: var(--background);
    font-family: "Lucida Console", "Courier New", monospace;
}

button:hover {
    opacity: 75%;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.connect-screen {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: var(--background-lighter);

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    border-radius: 5px;
}


.connect-screen input {
    background-color: var(--background-darker);
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 15px;
    margin: 10px;
    color: white;
    font-style: italic;
    width: 75%;
}


.connect-screen button {
    padding: 10px;
    background-color: var(--background-darker);
    border: none;
    font-size: 15px;
    color: white;
    margin: 10px;
    border-radius: 5px;
}

.connect-screen button:disabled {
    color: var(--disabled)
}

.chat-screen {
    width: 400px;
    height: 85%;

    background-color: var(--background-lighter);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-list {
    height: 80%;
    width: 95%;

    padding-bottom: 10px;
    border-bottom: solid 1px var(--background-darker);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    overflow: hidden;
}

.message {
    width: 95%;
    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.message h1 {
    color: white;
    text-align: left;

    font-size: 15px;
}

.input-area {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-area input {
    padding: 10px;
    color: white;

    background-color: var(--background-darker);
}

.input-area button {
    padding: 5px;
    color: white;

    background-color: var(--background-darker);
}